*{
   margin: auto;
}
@keyframes fade {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

@keyframes slidein {
	from {
    	margin-left: 300%;
    	width: 100%; 
  		}

  	to {
    	margin-left: 0%;
    	width: 100%;
    }
}
body {
    background-color: black;
    animation: fade 1.5s ease-in;
}
a {
    text-decoration: none;
    color: white;
}
.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}
.logo{
    animation: slidein 3s;
}

.child {
    flex: 1;
}

.name {
    font-family: 'Bilbo Swash Caps', cursive;
    color: #daae3e;
    justify-content: center;
    font-size: 2.5em;
    text-align: center;
}

.name2, .location{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

@media only screen and (max-width: 800px){
    .landing {
        margin-top: 20%;
    }
    .logo{
        width: 75%;
    }
    .name {
        font-size: 1.75em;
    }
}

@media only screen and (max-width: 600px){
    .landing{
        margin-top: 30%;
    }
    .logo{
        width: 60%;
    }
    .name{
        font-size: 1.5em;
    }
    .name2, .location{
        font-size: 1em;
    }
}
@media only screen and (orientation: landscape){
    .landing{
        flex-direction: row;
    }
}